/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, button, input {
  font-family: 'Ubuntu', sans-serif;
  border: 0;
  outline: 0;
}

h2, p, a {
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
}

a:hover {
  color: #AAAAF4;
}

.btn:hover {
  background-color: #AAAAF4;
  color: #fff;
  cursor: pointer;
}

ul li {
  list-style: none;
}

html, body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background-color: #1f1f1f;
}

.hide {
  /* display: none; */
  visibility: collapse;
}

.hide-content-box-2 {
  display: none;
}

/* Homepage */
#page-bg {
  background-color: #1f1f1f;
  height: 100vh;
  position: relative;
}

.main-box {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3b3b3b;
  padding: 32px;
  border-radius: 8px;
  width: 595px;
  height: 280px;
}

#page-bg .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

#page-bg .container .header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 495px;
}

#page-bg .container .content-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page-bg .container .content-box-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-bg .container .content-box-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 90px;
}

.container .binary-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 259.36px;
  height: 62px;
  padding: 20px;
  margin-top: 16px;
}

.container .decimal-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 259.36px;
  height: 62px;
  padding: 20px;
  margin-top: 16px;
}

.binary-content label, .decimal-content label {
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  padding-right: 16px;
}

.binary-content input, .decimal-content input  {
  width: 150px;
  height: 22px;
  border-radius: 3px;
  background-color: #F2F2F9;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.binary-output, .decimal-output {
  width: 150px;
  height: 22px;
  border-radius: 3px;
  background-color: #F2F2F9;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6em;
}

#page-bg .container .converter-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 495px;
  margin-top: 24px;
}

.converter-button button {
  width: 150px;
  height: 26px;
  border-radius: 3px;
  background-color: #ccc;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.error-msg {
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
  font-size: 13px;
  color: rgb(219, 91, 91);
  margin-left: 88px;
  line-height: 0;
}